<!DOCTYPE>
<head>
</head>
<body>
  <ul><h1>Who's a good boy!</h1>
  <li><h3><%= @pupper[:name] %> is a GOOD BOY!</h3></li>
  <li><h3><%= @pupper[:breed] %>'s are the BEST!</h3></li>
  <li><h3><%= @pupper[:age] %> years old and MANY MORE TO GO!</h3></li>
  </ul>
  <DIV ID="some ID" STYLE="POSITION: absolute; z-index: 4; VISIBILITY: hidden; TOP
160px; LEFT: 150px;">Puppy Name: <%= @pupper[:name]%> Puppy Breed: <%= @pupper[:breed]%> Puppy Age: <%= @pupper[:age]%></ID></div>
</body>
</html>
